<div class="order-container">
  <button mat-raised-button color="primary" (click)="createOrder()">
    Create Order
  </button>

  <mat-form-field appearance="fill" class="filter-select">
    <mat-label>Filter by Status</mat-label>
    <mat-select [(value)]="filterStatus" (selectionChange)="applyClientFilter()">
      <mat-option value="All">All</mat-option>
      <mat-option value="CREATED">CREATED</mat-option>
      <mat-option value="AWAITING_APPROVAL">AWAITING_APPROVAL</mat-option>
      <mat-option value="APPROVED">APPROVED</mat-option>
      <mat-option value="DECLINED">DECLINED</mat-option>
      <mat-option value="UNDER_DELIVERY">UNDER_DELIVERY</mat-option>
      <mat-option value="FULFILLED">FULFILLED</mat-option>
      <mat-option value="CANCELED">CANCELED</mat-option>
    </mat-select>
  </mat-form-field>

  <table
    mat-table
    [dataSource]="filteredOrder"
    class="mat-elevation-z8"
    style="margin-top: 20px; width: 100%;"
  >
    <ng-container matColumnDef="orderNumber">
      <th mat-header-cell *matHeaderCellDef> Order Number </th>
      <td mat-cell *matCellDef="let order"> {{ order.orderNumber }} </td>
    </ng-container>

    <ng-container matColumnDef="submittedDate">
      <th mat-header-cell *matHeaderCellDef> Submitted Date </th>
      <td mat-cell *matCellDef="let order"> {{ order.submittedDate | date: 'short' }} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let order"> {{ order.status }} </td>
    </ng-container>

    <ng-container matColumnDef="deadlineDate">
      <th mat-header-cell *matHeaderCellDef> Deadline Date </th>
      <td mat-cell *matCellDef="let order"> {{ order.deadlineDate | date: 'short' }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let order">

        <button mat-icon-button
        color="accent"
         (click)="editOrder(order)"
         matTooltip="Edit"
         [disabled]="order.status !== 'CREATED' || order.status !== 'DECLINED'">

          <mat-icon>edit</mat-icon>
        </button>

        <button
          mat-stroked-button
          color="basic"
          class="submit-order-btn"
          (click)="changeStatus(order)"
          matTooltip="Submit Order"
          [disabled]="order.status !== 'CREATED' || order.status !== 'DECLINED'">

          <mat-icon>check_circle</mat-icon>
          <span>Submit</span>
        </button>

        <button
          *ngIf="order.status !== 'FULFILLED' && order.status !== 'UNDER_DELIVERY' && order.status !== 'CANCELED'"
          mat-stroked-button
          color="warn"
          class="cancel-order-btn"
          (click)="cancelOrder(order)"
          matTooltip="Cancel Order"
          [disabled]="order.status !== 'CREATED' || order.status !== 'DECLINED'">
          <mat-icon>close</mat-icon>
          <span>Cancel</span>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
